/*
  Author: Aboagye Isaac
  Date: January 16, 2024
  Description: Styles for the Layout used globally on every page
*/

/* Resetting styles to ensure consistency across browsers */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.nav-sub {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}

#nav-item-container-one {
  width: 15%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 1.5rem;
}

#nav-item-container-two {
  width: 60%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#nav-item-container-three {
  width: 25%;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: end;
}

.nav-list-item {
  font-size: 1.15rem;
  padding-right: 40px;
}

.nav-list-item:hover {
  color: red;
}

.nav-list-menu {
  color: rgb(24, 24, 122);
  padding-top: 10px;
}

#sign-in {
  background-color: rgb(24, 24, 122);
  color: #fff;
  padding: 8.8px 20px;
  font-size: 0.8rem;
  margin-right: 8px;
}

#sign-in:hover {
  color: #fff;
  background-color: #3d96e9;
}

#sign-up:hover {
  background-color: rgb(24, 24, 122);
  color: white;
}

#sign-up {
  color: rgb(24, 24, 122);
  padding: 7px 20px;
  font-size: 0.8rem;
  border: 2px solid rgb(24, 24, 122);
}

.back-button {
  background-color: rgb(24, 24, 122);
  color: #fff;
  padding: 7px 100px;
  font-size: 1.15rem;
  cursor: pointer;
}

.footer {
  background-color: black;
  border-top: 1px solid #eee;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.footer-sub {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#footer-one {
  font-weight: bold;
  padding: 50px 50px 50px 0px;
  width: 20%;
}

#footer-two {
  padding: 50px;
  width: 20%;
}

#footer-three {
  padding: 50px 0px 50px 50px;
  width: 20%;
}

.footer-header {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .nav-sub {
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  #sign-in {
    background-color: rgb(24, 24, 122);
    color: #fff;
    margin-right: 8px;
  }

  #sign-up {
    color: rgb(24, 24, 122);
    text-align: left;
    border: 2px solid rgb(24, 24, 122);
  }

  #nav-item-container-two {
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 50vw;
  }

  .nav-list-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .back-button {
    padding: 7px 110px;
  }

  .footer-sub {
    flex-direction: column;
  }

  #footer-one {
    width: fit-content;
    padding: 50px;
  }

  #footer-two {
    width: fit-content;
  }

  #footer-three {
    width: fit-content;
  }

  #footer-four {
    width: fit-content;
  }
}

@media (max-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
 .nav-list {
    width: 25vw;
 }
}

@media (max-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
  .nav-sub {
    padding: 30px 0px;
    width: 90%;
  }

  .nav-list-menu {
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  .nav-list-item {
    font-size: 0.9rem;
    padding-right: 40px;
  }

  #nav-item-container-one {
    width: 5%;
    margin-left: 0px;
  }

  #nav-item-container-two {
    width: 35%;
    cursor: pointer;
    margin-top: 15px;
  }

  #nav-item-container-three {
    width: 40%;
    cursor: pointer;
  }

  #sign-in {
    padding: 7px 50px;
    margin-right: 4px;
  }

  #sign-up {
    padding: 7px 20px;
  }

  .footer-sub {
    width: 90%;
    padding: 50px 0px;
  }

  #footer-one {
    font-weight: bold;
    padding: 0px;
    width: 25%;
  }
  
  #footer-two {
    padding: 0px;
    width: 35%;
  }
  
  #footer-three {
    padding: 0px;
    width: 35%;
  }
}

@media (max-width: 1366px) {
  #nav-item-container-one {
    width: 15%;
  }

  #nav-item-container-two {
    width: 60%;
    cursor: pointer;
  }

  #nav-item-container-three {
    width: 35%;
    cursor: pointer;
  }

  .back-button {
    padding: 7px 50px;
  }
}
